*{
    padding: 0;
    margin: 0;
}

body{
    
}

/* debut style entete */
section{
    display: flex;
    justify-content: space-between;
    background-color: #023047;
    padding: 20px;
}

section .logo{

}
section .logo h1{
    color: white;
    margin-top: 8px;
}
section .logo h1 .ad{
    color: #fb8500;
}
/* debut bloc recherche */
section .recherche{
    display: flex;
}
section .recherche .icon{
    height: 30px;
    width: 30px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
section .recherche .icon img{
    width: 100%;
    height: 100%;
}
section .recherche form input[type="text"]{
    height: 40px;
    border: none;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
section .recherche form input[type="submit"]{
    padding: 10px;
    background-color: #219EBC;
    color: white;
    border: 2px solid #219EBC;
}

/* debut bloc liens */
section .liens{
    display: flex;
    position: absolute;
    top: 30px;
    left: 400px;
}   
section .liens .lien{
    display: flex;
}
section .liens .lien div{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
section .liens .lien div img{
    height: 100%;
    width: 100%;
}
section .liens .lien a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}
/* fin style header */

/* debut style body */
.body .imageFond{
    width: 100%;
    height: 570px;
}
.body .imageFond img{
    width: 100%;
    height: 100%;
}
.body .bienvenue{
    position: absolute;
    top: 200px;
    left: 110px;
    width: 30%;
}
.body .bienvenue h1{
    color: white;
}
.body .bienvenue h1 .title{
    color: #fb8500;
}
.body .bienvenue .motBinevenue p{
    color: white;
}
.body .bienvenue .exampleMaison{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.body .bienvenue .exampleMaison div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.body .bienvenue .exampleMaison div img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.body .bienvenue .exampleMaison .plus{
    background: #219EBC;
    opacity: 0.3;
}


.body .bienvenue .exampleMaison .plus a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.body .bienvenue .exampleMaison .plus a h1{
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
/* fin partie style bienvenue */
body .bloc_instruction{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
}
body .bloc_instruction .bloc{
    width: 25%;
    
}
body .bloc_instruction .bloc .numero{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50%;
    width: 15%;   
}
body .bloc_instruction .bloc #numero_1{
    background: #8ECAE6;
}
body .bloc_instruction .bloc #numero_2{
    background: #219EBC;
}
body .bloc_instruction .bloc #numero_3{
    background: #fb8500;
}

body .bloc_instruction .bloc .numero h1{
    color: white;
    text-align: center;
    
}
body .bloc_instruction .bloc .texte{
    margin-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

body .bloc_instruction .bloc .texte p{
    text-align: justify;
}

/* fin style body */
body .footer{
    height: 200px;
    background-color: #023047;
    margin-top: 60px;
}
